# Виртуальное окружение
venv/
.venv/
env/

# Секретные данные (КРИТИЧЕСКИ ВАЖНО)
.env
creds/
tokens.json

# Кэш Python
**/__pycache__/
*.py[cod]
*$py.class

# Логи
logs/*.log

# Блокноты (чекпоинты)
.ipynb_checkpoints/

# Системные файлы
.DS_Store
Thumbs.db